.cart-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 15px;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  